<template>
  <div class="fullscreen justify-center items-center row">
    <div @keyup.enter="login" class="column loginForm">
      <q-input hint="email" ref="refLogin" v-model="email"></q-input>
      <q-input hint="password" type="password" v-model="password"></q-input>
      <q-btn
        @click="login" 
        :disable="!(password.length > 3 && email.length > 2)"
        class="q-mt-md" 
        label="Login"
      ></q-btn>
    </div>
  </div>
</template>

<script setup>
import { useQuasar } from 'quasar'
import { useAuthStore } from 'stores/auth.store'
import { onMounted, ref } from 'vue'

const $q = useQuasar()
const authStore = useAuthStore()
const password = ref('')
const refLogin = ref()
  
const email = ref('')

function login() {
  authStore.login(email.value, password.value)
  .then(token => {
    if (!token) {
      $q.notify({
        message: 'Incorrect credentials',
        position: 'top',
        type: 'negative'
      })
    }
  })
}

onMounted(() => {
  refLogin.value?.focus()
})
</script>

<style lang="scss">
.loginForm {
  max-width: 80%;
  width: 300px;
}
</style>
