<template>
  <q-page>
    <div class="fs row" v-if="libraryStore.articles[route.params.articleId]">
      <div class="col-md-8 col-xs-10 offset-md-2 offset-xs-1">
        <h4 class="bp">{{ libraryStore.articles[route.params.articleId].title }}</h4>
        <div class="bp text-caption text-grey-8 text-weight-thin">
          {{ libraryStore.strftime(libraryStore.articles[route.params.articleId].date_create, '%d.%m.%Y') }}
        </div>
        <div
          class="markdown-body"
          v-html="marked(libraryStore.articles[route.params.articleId].body)"
        ></div>
        <div class="float-right q-my-lg">
          <router-link to="/library">Другие статьи</router-link>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { marked } from 'marked'
import { useMeta } from 'quasar'
import { useLibraryStore } from 'src/stores/library.store'
import { onMounted } from 'vue'
import { useRoute } from 'vue-router'

const libraryStore = useLibraryStore()
const route = useRoute()

useMeta(() => {
  const a = libraryStore.articles[route.params.articleId]
  if (a) {
    return {
      meta: {
        description: {
          content: a.descr ? a.descr : a.title,
          name: 'description'
        },
      },
      title: a.title
    }
  }
})

onMounted(async () => {
  if (!libraryStore.articles[route.params.articleId]) {
    if (!await libraryStore.loadArticleById(route.params.articleId)) {
      const router = (await import('vue-router')).useRouter()
      router.replace({ name: '404', params: { url: route.path.slice(1) } })
    }
  }
})
</script>

<script>
export default {
  async preFetch ({
    store,
    currentRoute,
    previousRoute,
    redirect,
    ssrContext
  }) {
    if (process.env.CLIENT) return

    const getArticleById = (await import('app/dll/library')).getArticleById
    const articleId = currentRoute.params.articleId
    const article = await getArticleById(articleId)
    // Если статья не найдена, то выбрасываем кастомную 404.
    // Таким образом управление попадает в renders.js в раздел 404.
    if (!article) throw constructor({ code: 404 })
    useLibraryStore(store).articles[articleId] = article
  }
}
</script>

<style lang="scss">
@import 'src/css/github-markdown.scss';
</style>
