<template>
  <q-page>
    <q-table
      :binary-state-sort="true"
      :columns="columns"
      :hide-pagination="true"
      :rows="libraryStore.library"
      :rows-per-page-options="[0]"
      :wrap-cells=true
      class="sticky-header-table"
      flat
      id="articlesTable"
    >
      <!-- Область кнопок для управления библиотекой. -->
      <template v-slot:top>
        <q-btn
          @click="showEditPanel(null)"
          color="primary"
          label="Добавить статью"
        />
      </template>

      <!-- Переопределение содержания ячейки с заголовком статьи. -->
      <template v-slot:body-cell-title="props">
        <q-td :props="props">
          <span @click="showEditPanel(props.row.id)" class="article-title">
            {{ props.row.title }}
          </span>
        </q-td>
      </template>
    </q-table>

    <!-- Модальное окно для добавления и редактирования статей. -->
    <q-dialog full-width v-model="editPanel">
      <q-card>
        <q-card-section style="padding-bottom: 0px;">
          <q-toggle v-model="currentArticle.published">Опубликована</q-toggle>
          <q-input
            :rules="[val => !!val]"
            label="Заголовок"
            ref="refTitle"
            v-model="currentArticle.title"
          />
          <q-input label="Описание" v-model="currentArticle.descr"/>
        </q-card-section>
        <q-card-section
          class="scroll"
          style="max-height: 70vh; padding-top: 0px;"
        >
          <q-input
            :rules="[val => !!val]"
            autogrow
            label="Текст"
            ref="refBody"
            type="textarea"
            v-model="currentArticle.body"
          />
        </q-card-section>
        <q-card-actions>
          <q-btn
            @click="saveArticle"
            color="primary"
            label="Сохранить"
          />
          <q-btn
            @click="hideEditPanel"
            color="primary"
            flat
            label="Отмена"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script setup>
import { useQuasar } from 'quasar'
import { nextTick, onMounted, ref } from 'vue'

import { useLibraryStore } from 'src/stores/library.store'

const $q = useQuasar()
const columns = [
  {
    align: 'left',
    field: row => row.id,
    label: 'ID',
    name: 'id',
    sortable: true,
  },
  {
    align: 'left',
    field: row => row.title,
    label: 'Заголовок',
    name: 'title',
  },
]
const currentArticle = ref({})
const editPanel = ref(false)
const libraryStore = useLibraryStore()
const refBody = ref(null)
const refTitle = ref(null)

const hideEditPanel = () => {
  // Скрытие модального окна редактирования и добавления статьи.
  currentArticle.value = null
  editPanel.value = false
}
const onResize = async (e) => {
  // Актуализация высоты таблицы со статьями при изменении размера окна.
  const grid = document.querySelector('.sticky-header-table')
  const toolbar = document.getElementById('toolbar')
  grid.style.height = $q.screen.height - toolbar.clientHeight - 1 + 'px'
}
const saveArticle = async () => {
  refBody.value.validate()
  refTitle.value.validate()
  if (refTitle.value.hasError || refBody.value.hasError) return

  // Сохранение статьи в библиотеке.
  if (currentArticle.value.id) {
    libraryStore.updateArticle(currentArticle.value)
  } else {
    libraryStore.createArticle(currentArticle.value)
    libraryStore.loadLibrary()
  }
  hideEditPanel()
}
const showEditPanel = (articleId = null) => {
  if (articleId) {
    currentArticle.value = libraryStore.library.find(a => a.id === articleId)
  }
  else {
    currentArticle.value = {
      body: '',
      descr: '',
      id: null,
      published: false,
      title: '',
    }
  }
  editPanel.value = true
}

onMounted(async () => {
  // Получение списка всех статей сайта.
  libraryStore.loadLibrary()

  // Актуализируем высоту таблицы
  // для возможности отображения зафиксированного заголовка.
  window.onresize = onResize
  await nextTick()
  onResize(null)
})
</script>

<style lang="scss">
.article-title {
  &:hover {
    color: #1976d2;
    cursor: pointer;
  }
}

.sticky-header-table {
  /* height or max-height is important */
  height: 300px;

  .q-table__top, thead tr:first-child th {
    /* bg color is important for th; just specify one */
    background-color: #e2e2e2;
    top: 0;
  }
  thead tr th {
    position: sticky;
    z-index: 1;
  }
}
</style>
