<template>
  <q-page>
    <div class="row q-mt-lg" v-if="libraryStore.library">
      <div class="col-md-8 col-xs-10 offset-md-2 offset-xs-1">
        <div
          :key="article.id"
          v-for="article in libraryStore.library"
        >
          <div
            :class="{
              column: $q.screen.lt.sm,
              row: $q.screen.gt.xs
            }"
            class="no-wrap q-mb-md"
          >
            <div class="q-mr-sm text-caption text-grey-8 text-weight-thin">
              {{ libraryStore.strftime(article.date_create, '%d.%m.%Y') }}
            </div>
            <div class="column">
              <div>
                <router-link
                  :to="'/library/article/'+article.id"
                  class="text-body1"
                >
                  {{ article.title }}
                </router-link>
              </div>
              {{ article.descr }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { useMeta, useQuasar } from 'quasar'
import { useLibraryStore } from 'src/stores/library.store'
import { onMounted } from 'vue'

useMeta({
  meta: {
    description: {
      content: 'Статьи про программирование, разработку и технологии.',
      name: 'description'
    },
  },
  title: 'Devmems. Публикации.'
})

const $q = useQuasar()
const libraryStore = useLibraryStore()

onMounted(() => {
  if (!libraryStore.library.length) libraryStore.loadLibrary()
})
</script>

<script>
export default {
  async preFetch ({ store }) {
    if (process.env.CLIENT) return

    const loadLibrary = (await import('app/dll/library')).loadLibrary
    useLibraryStore(store).library = await loadLibrary()
  }
}
</script>
