<template>
  <div class="fullscreen items-center row">
    <div class="row full-width justify-center">
      <q-spinner-hourglass size="10vw" color="primary" />
    </div>
  </div>
</template>

<script setup>
import { useAuthStore } from 'stores/auth.store'
import { onMounted } from 'vue'
import { useRouter } from 'vue-router'

const authStore = useAuthStore()
const router = useRouter()

onMounted(() => {
  // Если в сторе есть authDestination, значит пользователь пытался
  // зайти на страницу, которая требует авторизации.
  // Теперь, так как мы на клиенте, ее надо загрузить по-настоящему.
  if (authStore.authDestination) {
    // Перед редиректом очистим текущее значение authDestination.
    const url = authStore.authDestination
    authStore.authDestination = null
    return router.replace(url)
  }
})
</script>
