<template>
  <router-view />
</template>

<script setup>
import { onMounted, nextTick } from 'vue'

async function loadGTM() {
  (function(w, d, s, l, i) {
    w[l] = w[l] || []
    w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
    const f = d.getElementsByTagName(s)[0]
    const j = d.createElement(s)
    const dl = l !== 'dataLayer' ? '&l=' + l : ''
    j.async = true
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
    f.parentNode.insertBefore(j, f)
  })(window, document, 'script', 'dataLayer', 'GTM-N7536WR');
}

onMounted(() => {
  nextTick().then(() => setTimeout(loadGTM, 5000))
})
</script>
