<template>
  <q-no-ssr>
    <q-layout view="hHh lpR fFf">

      <q-header bordered class="bg-primary text-white" id="toolbar">
        <q-toolbar>
          <q-toolbar-title>
            <q-avatar>
              <img id="logoImage" src="/assets/logo.png">
            </q-avatar>
            devmems.ru
          </q-toolbar-title>
          <q-btn @click="authStore.logout" dense flat icon="logout">
          </q-btn>
        </q-toolbar>
      </q-header>

      <q-page-container>
        <router-view />
      </q-page-container>

    </q-layout>
  </q-no-ssr>
</template>

<script setup>
import { useAuthStore } from 'stores/auth.store'

const authStore = useAuthStore()
</script>
